@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700&subset=latin-ext');

html, body {
	font-family: 'Cardo';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans';
}

/* We want vertical Checklists always. */
.control label.checkbox {
	display: block;
}

.header .logo img {
	float: left;
	height: 8rem;
	margin-right: 2rem;
	position: relative;
	bottom: 1.5rem;
}

.about {
	margin-bottom: -3rem !important;
}

.about-after {
	margin-top: -4rem !important;
	padding-top: 0;
}

.hidden {
	display: none;
}

.footer a {
	display: inline-block;
	margin: 1rem 1.5rem 2rem;
}

.footer img {
	height: 4em;
	max-height: 4em;
}

.footer img.snap {
	display: relative;
	bottom: 2rem;
}