@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700&subset=latin-ext');

html, body {
	font-family: 'Cardo';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans';
}

.header {
	border-bottom: 1px solid #aaa;
}
.header a {
	height: 5.4rem;
	float: left;
	z-index: 1000;
	position: relative;
	bottom: 1.4rem;
	margin-right: 3rem;
}
.header a img {
	height: 5.4rem;
}

.camera-icon span {
	display: inline-block;
	position: relative;
	top: 0.25rem;
	padding: 0 3px;
}
.camera-icon span path {
	fill: #ccc;
}

.dropdown-selector {
	max-width: 15rem;
}

.section.graph {
	border-bottom: 1px solid #eee;
}

/* Fix heights of charts */
#tally, #tally-zone, #tally-year {
	height: 600px;
}

.footer a {
	display: inline-block;
	margin: 1rem 1.5rem 2rem;
}

.footer img {
	height: 4em;
	max-height: 4em;
}

.footer img.snap {
	display: relative;
	bottom: 2rem;
}